@font-face {
    font-family: "Poppins"; 
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Poppins"; 
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bolder; 
} 
@font-face {
    font-family: "Poppins"; 
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
@font-face {
    font-family: "Sacramento"; 
    src: url("../fonts/Sacramento.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Poppins"; 
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: medium; 
} 
@font-face {
    font-family: "Poppins"; 
    src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: lighter; 
} 
@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}